@use 'sass:map';
$sky: (
  300: oklch(82.8% 0.111 230.318),
  400: oklch(74.6% 0.16 232.661),
  500: oklch(68.5% 0.169 237.323),
  600: oklch(58.8% 0.158 241.966),
  700: oklch(50% 0.134 242.749),
);

$mist: (
  50: oklch(98.7% 0.002 197.1),
  100: oklch(96.3% 0.002 197.1),
  200: oklch(92.5% 0.005 214.3),
  300: oklch(87.2% 0.007 219.6),
  400: oklch(72.3% 0.014 214.4),
  500: oklch(56% 0.021 213.5),
  600: oklch(45% 0.017 213.2),
  700: oklch(37.8% 0.015 216),
  800: oklch(27.5% 0.011 216.9),
  900: oklch(21.8% 0.008 223.9),
  950: oklch(14.8% 0.004 228.8),
);

$clay: (
  300: oklch(82.1% 0.058 50.392),
  400: oklch(74.1% 0.094 47.255),
  500: oklch(67.2% 0.131 38.798),
  700: oklch(51.4% 0.123 37.45),
  800: oklch(44.4% 0.103 36.916),
);

$parchment: (
  50: oklch(98% 0.006 100),
  100: oklch(96.5% 0.011 99),
  200: oklch(93.6% 0.014 97.348),
  300: oklch(85.8% 0.018 100),
  400: oklch(72.1% 0.015 102.54),
  600: oklch(43.2% 0.006 91.526),
  700: oklch(38.2% 0.003 84.572),
  800: oklch(29.3% 0.003 106.588),
  900: oklch(21.7% 0.002 106.561),
  950: oklch(14.6% 0 0),
);

@function sky($n) { @return map.get($sky, $n); }
@function mist($n) { @return map.get($mist, $n); }
@function clay($n) { @return map.get($clay, $n); }
@function parchment($n) { @return map.get($parchment, $n); }
